{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}User Insert articolo{% endblock %}

{% block content %}
<div class="container mt-md-2">
    <h3>Inserire un testo</h3>
    <p style="margin-left:auto;margin-right:auto;display:block;font-size: small">*Tutti i campi indicati con un
        asterisco sono obbligatori</p>

    <form method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {{ form.titolo|as_crispy_field }}
                </div>

            </div>
            <div class="row">
                <div class="col-9">
                    {{ form.fonte|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.data|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.n_cart|as_crispy_field }}
                </div>
            </div>
            <div>
                {{ form.testo|as_crispy_field }}
            </div>
        </div>
        <button class="btn btn-action btn-lg d-block mx-auto" type="submit">Carica</button>
    </form>
</div>
{% endblock %}