<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-action btn-sm" data-bs-toggle="modal"
  data-bs-target="#deleteModal{{ record.id }}">
  Cancella
</button>

<!-- Modal -->
<div class="modal" id="deleteModal{{ record.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-bottom modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary-custom"><i class="fas fa-trash-alt fa-2x"></i>
        <h5 class="modal-title" id="exampleModalLabel">{{ record.titolo }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler cancellare?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-action" data-bs-dismiss="modal">Chiudi</button>
        <a href="{% url 'testo:delete' record.id %}" type="button" class="btn btn-action">Cancella</a>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    /*$("#prova").click(function(){
          $.ajax({
              url: "{% url 'testo:delete' record.id %}",
              type: 'GET',  // http method
              //data: { myData: '' },  // data to submit
              success: function (data) {
                  alert("siiiiiiiiiiiiiiiii");
              },
              error: function (data) {
                      alert("nooooooooo");
              }
          });
    });*/
  });
</script>